 body {
    margin: 0 ;
    background-color: floralwhite;
}
body, html {
    height: 100%;
}

.navbar {
    display: block;
    background-color: lightgray;
} 

#logo {
    width: 225px;
}

.d-block{
    width: 1374px;
    height: 570px;
}

 
#footer {
    display: inline-block;
    position: fixed;
    padding: 0px;
    padding-bottom: 10px;
    left: 0;
    bottom: -25px;
    width: 100%;
    background-color: lightgray;
    color: darkblue;
    text-align: center;
    font-style: italic;
} 

